In [1]:
import pandas as pd
topten = pd.read_csv("../Resources/top10_restaurants.csv")

In [5]:
topten.to_html("../Resources/top10_restaurants.html", index=False)

In [3]:
# Import Dependencies and CSV File
import pandas as pd

# restaurants_csv = pd.read_csv("../Resources/az_yelp_business.csv")
restaurants_csv = pd.read_csv("../Resources/az_yelp_restaurants.csv")
restaurants_csv.head()

,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories
0,"""McDonald's""","""719 E Thunderbird Rd""",Phoenix,AZ,85022,33.607070,-112.064382,1.0,10,Fast Food;Burgers;Restaurants
1,"""Charr An American Burger Bar""","""777 E Thunderbird Rd, Ste 107""",Phoenix,AZ,85022,33.607310,-112.063404,3.0,232,Burgers;Restaurants
2,"""McDonald's""","""1635 E Camelback Rd""",Phoenix,AZ,85016,33.508765,-112.046240,3.0,34,Restaurants;Burgers;Fast Food
3,"""Little Caesars Pizza""","""10720 E Southern Ave""",Mesa,AZ,85209,33.394877,-111.600194,2.5,4,Restaurants;Pizza
4,"""Caviness Studio""","""""",Phoenix,AZ,85001,33.449967,-112.070222,5.0,4,Marketing;Men's Clothing;Restaurants;Graphic D...

In [8]:
restaurants_csv.groupby(['stars'])['city'].value_counts()

stars  city
1.0    Phoenix                  32
       Mesa                     12
       Glendale                  4
       Peoria                    4
       Avondale                  3
       Tempe                     3
       Chandler                  2
       Goodyear                  2
       Scottsdale                2
       Sun City                  2
       Gilbert                   1
1.5    Phoenix                  92
       Mesa                     41
       Glendale                 19
       Surprise                 13
       Tempe                    13
       Peoria                   12
       Scottsdale                9
       Chandler                  8
       Gilbert                   8
       Avondale                  6
       Goodyear                  5
       Laveen                    4
       Tolleson                  4
       Anthem                    3
       Sun City                  3
       Cave Creek                2
       Litchfield Park           2
       San Tan Valley            2
       Ahwatukee                 1
       El Mirage                 1
       Higley                    1
       Sun Lakes                 1
       Youngtown                 1
2.0    Phoenix                 241
       Mesa                     85
       Tempe                    60
       Glendale                 57
       Chandler                 52
       Scottsdale               44
       Peoria                   32
       Gilbert                  30
       Goodyear                 19
       Surprise                 14
       Avondale                 12
       Laveen                    9
       Sun City                  6
       El Mirage                 5
       Cave Creek                4
       Tolleson                  4
       Anthem                    3
       Fountain Hills            3
       San Tan Valley            3
       Higley                    2
       Litchfield Park           1
       Paradise Valley           1
       Phoenix                   1
       Sun Lakes                 1
       Youngtown                 1
2.5    Phoenix                 376
       Mesa                    140
       Scottsdale              113
       Tempe                   110
       Glendale                 85
       Chandler                 77
       Gilbert                  54
       Peoria                   34
       Surprise                 33
       Goodyear                 30
       Avondale                 28
       Cave Creek               11
       Fountain Hills            6
       Laveen                    6
       Litchfield Park           6
       Tolleson                  5
       Sun City                  4
       Anthem                    3
       Paradise Valley           3
       Sun City West             3
       El Mirage                 2
       San Tan Valley            2
       Sun Lakes                 2
       Fort McDowell             1
       Higley                    1
3.0    Phoenix                 630
       Mesa                    213
       Scottsdale              212
       Tempe                   183
       Chandler                153
       Glendale                125
       Gilbert                 107
       Peoria                   64
       Surprise                 48
       Avondale                 32
       Goodyear                 31
       Cave Creek               15
       Fountain Hills           13
       Laveen                   10
       Sun City                  9
       Carefree                  8
       Litchfield Park           6
       Paradise Valley           4
       El Mirage                 3
       Tolleson                  3
       Anthem                    2
       Fort McDowell             2
       San Tan Valley            2
       Sun City West             2
       Sun Lakes                 2
       Central City              1
       Central City Village      1
       Guadalupe                 1
       Higley                    1
3.5    Phoenix                 821
       Scottsdale              395
       Tempe                   250
       Mesa                    244
       Chandler                213
       Glendale                151
       Gilbert                 123
       Peoria                   91
       Surprise                 50
       Goodyear                 36
       Avondale                 26
       Fountain Hills           24
       Cave Creek               18
       Litchfield Park          16
       Sun City                  8
       Carefree                  7
       Tolleson                  6
       Paradise Valley           5
       Sun City West             5
       Anthem                    4
       Laveen                    4
       El Mirage                 3
       San Tan Valley            3
       Fort McDowell             2
       Ahwatukee                 1
       Glendale                  1
       Roosevelt                 1
       Sun Lakes                 1
4.0    Phoenix                 899
       Scottsdale              474
       Mesa                    274
       Tempe                   218
       Chandler                213
       Glendale                143
       Gilbert                 140
       Peoria                   67
       Avondale                 41
       Surprise                 32
       Goodyear                 28
       Cave Creek               23
       Fountain Hills           19
       Paradise Valley          13
       Litchfield Park          10
       Sun City                  9
       Carefree                  7
       Tolleson                  7
       El Mirage                 4
       Ahwatukee                 3
       Guadalupe                 3
       Laveen                    3
       Sun City West             3
       Youngtown                 3
       Anthem                    2
       Sun Lakes                 2
       Fort McDowell             1
       Higley                    1
       Roosevelt                 1
4.5    Phoenix                 445
       Scottsdale              165
       Mesa                    105
       Tempe                   105
       Chandler                 82
       Glendale                 71
       Gilbert                  49
       Peoria                   31
       Avondale                 18
       Surprise                 16
       Goodyear                 15
       Fountain Hills           11
       Cave Creek                9
       Carefree                  4
       El Mirage                 4
       Litchfield Park           4
       Sun City                  4
       Paradise Valley           3
       Tolleson                  2
       Youngtown                 2
       Guadalupe                 1
       Laveen                    1
       Roosevelt                 1
       San Tan Valley            1
       Waddell                   1
5.0    Phoenix                 109
       Scottsdale               40
       Mesa                     24
       Tempe                    20
       Chandler                 17
       Gilbert                  12
       Glendale                 12
       Peoria                    6
       Avondale                  4
       El Mirage                 2
       Fountain Hills            2
       Youngtown                 2
       Anthem                    1
       Cave Creek                1
       Goodyear                  1
       Guadalupe                 1
       Laveen                    1
       San Tan Valley            1
       Sun City West             1
       Tolleson                  1
Name: city, dtype: int64

In [7]:
### Dataframe Display Options
# pd.set_option('display.max_rows', None)
# pd.reset_option('display.max_rows')

In [2]:
# Filter out for only restaurants
rest = restaurants_csv.loc[restaurants_csv['categories'].str.lower().str.contains("restaurant")].reset_index(drop=True)
# Remove paranthesis
rest['name'] = rest['name'].str.replace('"','')
rest['address'] = rest['address'].str.replace('"','')
# Drop categories NA
rest['categories'] = rest['categories'].dropna()
# Lowercase categories for easier use
rest['categories'] = rest['categories'].str.lower().astype(str)

In [3]:
# Remove non-restaurants
notRest = 'marketing|clothing|shops|advertising|schools|lakes|shopping|printing|convenience stores|yelp|grocery|golf|cafeteria|food court|stadiums & arenas|supernatural readings|veterinarians|hotels|event planning & services|hospitals|home services|markets|spas|adult entertainment|trucks|cinema'
rests = rest.loc[rest['categories'].str.contains(notRest)==False]

In [4]:
def newCat(x):
    '''
    Function to clean and group categories into major category groupings.
    '''
    cat = x['categories']
    if 'american' in cat:
        return "American"
    elif 'italian' in cat:
        return "Italian"
    elif 'japanese' in cat:
        return "Japanese"
    elif 'mexican' in cat:
        return "Mexican"
    elif 'chinese' in cat:
        return "Chinese"
    elif 'viet' in cat:
        return "Vietnamese"
    elif 'mediterranean' in cat:
        return 'Mediterranean'
    elif 'hawaiian' in cat:
        return 'Hawaiian'
    elif 'thai' in cat:
        return 'Thai'
    elif 'pizza' in cat:
        return 'Italian'
    elif 'greek' in cat:
        return 'Mediterranean'
    elif 'indian' in cat:
        return 'Indian'
    elif 'asian fusion' in cat:
        return 'Asian Fusion'
    elif 'filipino' in cat:
        return 'Filipino'
    elif 'coffee & tea' in cat:
        return 'American'
    elif 'burgers' in cat:
        return 'American'
    elif 'sandwiches' in cat:
        return 'American'
    elif 'barbeque' in cat:
        return 'American'
    elif 'sushi' in cat:
        return 'Japanese'
    elif 'hot dogs' in cat:
        return 'American'
    elif 'steakhouses' in cat:
        return 'American'
    elif 'chicken wings' in cat:
        return 'American'
    elif 'middle eastern' in cat:
        return 'Middle Eastern'
    elif 'cajun' in cat:
        return 'American'
    elif 'fish & chips' in cat:
        return 'American'
    elif 'french' in cat:
        return 'French'
    elif 'korean' in cat:
        return 'Korean'
    elif 'cuban' in cat:
        return 'Cuban'
    elif 'diner' in cat:
        return 'American'
    elif 'deli' in cat:
        return 'American'
    elif 'peruvian' in cat:
        return 'American'
    elif 'tex-mex' in cat:
        return 'Mexican'
    elif 'ice cream & frozen yogurt' in cat:
        return 'American'
    elif 'caribbean' in cat:
        return 'Caribbean'
    elif 'soul food' in cat:
        return 'American'
    elif 'german' in cat:
        return 'German'
    elif 'cafes' in cat:
        return 'American'
    elif 'buffets' in cat:
        return 'American'
    elif 'seafood' in cat:
        return 'American'
    elif 'sports bar' in cat:
        return 'American'
    elif 'dive' in cat:
        return 'American'
    elif 'spanish' in cat:
        return 'Spanish'
    elif 'chicken shop' in cat:
        return 'American'
    elif 'juice bars & smoothies' in cat:
        return 'American'
    elif 'tapas' in cat:
        return 'Mexican'
    elif 'ethiopian' in cat:
        return 'Ethiopian'
    elif 'irish' in cat:
        return 'Irish'
    elif 'russian' in cat:
        return 'Russian'
    elif 'vegetarian' in cat:
        return 'American'
    elif 'bakeries' in cat:
        return 'American'
    elif 'polish' in cat:
        return 'Polish'
    elif 'cambodian' in cat:
        return 'Cambodian'
    elif 'british' in cat:
        return 'British'
    elif 'southern' in cat:
        return 'American'
    elif 'comfort food' in cat:
        return 'American'
    elif 'mongolian' in cat:
        return 'Mongolian'
    elif 'persian' in cat:
        return 'Persian'
    elif 'european' in cat:
        return 'European'
    elif 'turkish' in cat:
        return 'Turkish'
    elif 'burmese' in cat:
        return 'Burmese'
    elif 'brazilian' in cat:
        return 'Brazilian'
    elif 'kosher' in cat:
        return 'Kosher'
    elif 'afghan' in cat:
        return 'Middle Eastern'
    elif 'halal' in cat:
        return 'Halal'
    elif 'czech' in cat:
        return 'Czech'
    elif 'african' in cat:
        return 'African'
    else:
        return 'American'

# Create new Category Column using the newCat Function
rests['category'] = rests.apply(lambda x: newCat(x),axis=1)

<ipython-input-4-1c6c34b34560>:142: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rests['category'] = rests.apply(lambda x: newCat(x),axis=1)

In [ ]:
# Create Cleaned Restaurants Csv File
rests.to_csv("../Resources/az_yelp_restaurants_categories_grouped.csv",index=False)

In [16]:
# Create Cleaned Restaurants Json File
rests.to_json("../Resources/az_yelp_restaurants2.json", orient="records")