In [74]:
import numpy as np
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [75]:
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.2.0'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [813 kB]
Fetched 1,067 kB in 3s (426 kB/s)
Reading package lists... Done

In [76]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("sparkFunctions").getOrCreate()

In [77]:
from pyspark import SparkFiles
url ="https://yelpproject4.s3.amazonaws.com/yelp_restaurants.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("yelp_restaurants.csv"), sep=",", header=True)

# Show DataFrame
df.show()

+--------------------+--------------------+--------------------+-----------+-----+-----------+-------------+---------------+-----+------------+-------+--------------------+--------------------+--------------------+
|         business_id|                name|             address|       city|state|postal_code|     latitude|      longitude|stars|review_count|is_open|          attributes|          categories|               hours|
+--------------------+--------------------+--------------------+-----------+-----+-----------+-------------+---------------+-----+------------+-------+--------------------+--------------------+--------------------+
|6iYb2HFDywm3zjuRg...| Oskar Blues Taproom|        921 Pearl St|    Boulder|   CO|      80302|   40.0175444|   -105.2833481|  4.0|          86|      1|"{'RestaurantsTab...| 'BikeParking': '...| 'BusinessParking...|
|tCbdrRPZA0oiIYSmH...|Flying Elephants ...| 7000 NE Airport Way|   Portland|   OR|      97218|45.5889058992|-122.5933307507|  4.0|         126|      1|"{'RestaurantsTak...| 'GoodForKids': '...| 'BikeParking': '...|
|D4JtQNTI4X3Kcbzac...| Bob Likes Thai Food|        3755 Main St|  Vancouver|   BC|        V5V|   49.2513423|    -123.101333|  3.5|         169|      1|"{'GoodForKids': ...| 'RestaurantsGood...| 'RestaurantsRese...|
|jFYIsSb7r1QeESVUn...|     Boxwood Biscuit|       740 S High St|   Columbus|   OH|      43206| 39.947006523|     -82.997471|  4.5|          11|      1|                null|Breakfast & Brunc...|{'Saturday': '8:0...|
|HPA_qyMEddpAEtFof...| Mr G's Pizza & Subs|       474 Lowell St|    Peabody|   MA|      01960|    42.541155|     -70.973438|  4.0|          39|      1|"{'RestaurantsGoo...|   'intimate': False|     'classy': False|
|ufCxltuh56FF4-ZFZ...|      Sister Honey's|   247 E Michigan St|    Orlando|   FL|      32806|   28.5132647|    -81.3747072|  4.5|         135|      1|"{'BusinessParkin...|     'street': False|  'validated': False|
|GfWJ19Js7wX9rwaHQ...|Everything POP Sh...|     1050 Century Dr|    Orlando|   FL|      32830|   28.3504984|     -81.542819|  3.0|           7|      1|"{'HasTV': 'False...|     'street': False|  'validated': False|
|dmbbf3AqeG61_QHRZ...|            RaceTrac|  350 W Sand Lake Rd|Pine Castle|   FL|      32809|   28.4503025|    -81.3805873|  3.5|           5|      1|"{'BikeParking': ...|     'street': False|  'validated': False|
|hcRxdDg7DYryCxCoI...|   Longwood Galleria|340-350 Longwood Ave|     Boston|   MA|      02215|    42.338544|     -71.106842|  2.5|          24|      1|"{'RestaurantsPri...|   'intimate': False|     'classy': False|
|jGennaZUr2MsJyRhi...|     Legal Sea Foods|     1 Harborside Dr|     Boston|   MA|      02128|   42.3634422|    -71.0257812|  3.5|         856|      1|"{'NoiseLevel': "...| 'BikeParking': '...| 'RestaurantsAtti...|
|QciD6FbNklaJvUbLE...|                ARGO|3790 Canada Way, ...|    Burnaby|   BC|    V5G 1G4|   49.2544359|   -123.0200503|  4.0|          76|      1|"{'WheelchairAcce...| 'WiFi': ""u'free'""|    'Caters': 'True'|
|jx91IMdGOmLOo8h_F...|Cleary's Restaura...|  12429 NE Glisan St|   Portland|   OR|      97230|   45.5264727|    -122.535323|  3.5|          19|      1|"{'RestaurantsGoo...| 'RestaurantsAtti...| 'RestaurantsTake...|
|NRPemqVb4qpWFF0Av...|Eurasia Sushi Bar...|7101 W Hwy 71, St...|     Austin|   TX|      78735|   30.2345329|    -97.8772622|  4.5|         395|      1|"{'Ambience': ""{...|    'hipster': False|    'romantic': True|
|TRToVIbaVtu1KOE8D...|     Texas Roadhouse|   2457 S Highway 27|   Clermont|   FL|      34711|    28.538452|     -81.737625|  3.5|         102|      1|"{'RestaurantsTak...| 'RestaurantsPric...| 'RestaurantsRese...|
|Xi2GGNzOiUS8r6WCF...|      Kerala Kitchen|103- 9386 120 Street|     Surrey|   BC|    V3V 4B9|    49.173723|    -122.889641|  4.0|           9|      1|"{'BusinessParkin...|     'street': False|  'validated': False|
|5PsApTz-WqhF_-8mf...|          Cafe Yumm!|  301 SW Morrison St|   Portland|   OR|      97204|45.5184501881|-122.6757229865|  3.5|         158|      1|"{'OutdoorSeating...| 'BusinessParking...|      'street': True|
|w4qVflIAbdklzG3mn...|Magical Pizza Exp...|3262 Vineland Rd,...|    Orlando|   FL|      32811|      28.5205|      -81.44395|  1.0|           8|      1|"{'RestaurantsAtt...| 'Alcohol': ""u'n...| 'Ambience': ""{'...|
|Of6xu3pY3eHe2yhiy...|           Taco Bell|    3255 28th Street|    Boulder|   CO|      80301|40.0336776766|-105.2591028437|  1.5|          44|      1|"{'BusinessAccept...|    'hipster': False|   'romantic': False|
|djolOChjDtxniurUF...|       Panda Express|    1460 Rinehart Rd|    Sanford|   FL|      32771|   28.8006862|    -81.3317118|  2.5|          47|      1|"{'RestaurantsGoo...| 'RestaurantsTake...| 'BusinessAccepts...|
|bRsDZ44CD3uhGnRY3...|             Wendy's|   6247 Mcneil Drive|     Austin|   TX|      78729|30.4418754072| -97.7465811589|  2.0|          46|      1|"{'RestaurantsPri...| 'GoodForKids': '...| 'RestaurantsTake...|
+--------------------+--------------------+--------------------+-----------+-----+-----------+-------------+---------------+-----+------------+-------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [79]:
df1= df.select(["review_count","categories", "state", "stars"])

In [93]:
yelp = df1.toPandas()
yelp

      review_count                             categories state stars
0               86                  'BikeParking': 'True'    CO   4.0
1              126                  'GoodForKids': 'True'    OR   4.0
2              169     'RestaurantsGoodForGroups': 'True'    BC   3.5
3               11        Breakfast & Brunch, Restaurants    OH   4.5
4               39                      'intimate': False    MA   4.0
...            ...                                    ...   ...   ...
32017          733                      'WiFi': ""u'no'""    MA   5.0
32018          437      'RestaurantsAttire': ""'casual'""    FL   4.5
32019          310                        'street': False    TX   3.0
32020          185   'BusinessAcceptsCreditCards': 'True'    GA   3.0
32021           10  Cuban, Sandwiches, Restaurants, Cafes    OR   4.0

[32022 rows x 4 columns]

In [94]:
yelp['stars']= yelp['stars'].astype(float)

In [95]:
def ycolumn(x):
  stars = x['stars']
  if stars >= 3:
    return 1
  else:
    return 0
yelp['Stars Y'] = yelp.apply(lambda x: ycolumn(x),axis=1)

In [96]:
yelp['Stars Y']

0        1
1        1
2        1
3        1
4        1
        ..
32017    1
32018    1
32019    1
32020    1
32021    1
Name: Stars Y, Length: 32022, dtype: int64

In [97]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType
schema = [StructField("stars", IntegerType(), True), StructField("review_count", IntegerType(), True),StructField("categories", StringType(), True),StructField("state", StringType(), True) ]
schema

[StructField(stars,IntegerType,true),
 StructField(review_count,IntegerType,true),
 StructField(categories,StringType,true),
 StructField(state,StringType,true)]

In [126]:
X= yelp.drop(["stars", "Stars Y"], axis =1)

X

      review_count                             categories state
0               86                  'BikeParking': 'True'    CO
1              126                  'GoodForKids': 'True'    OR
2              169     'RestaurantsGoodForGroups': 'True'    BC
3               11        Breakfast & Brunch, Restaurants    OH
4               39                      'intimate': False    MA
...            ...                                    ...   ...
32017          733                      'WiFi': ""u'no'""    MA
32018          437      'RestaurantsAttire': ""'casual'""    FL
32019          310                        'street': False    TX
32020          185   'BusinessAcceptsCreditCards': 'True'    GA
32021           10  Cuban, Sandwiches, Restaurants, Cafes    OR

[32022 rows x 3 columns]

In [127]:
X_dummies = pd.get_dummies(X)
X_dummies

       review_count_10  review_count_100  ...  state_WA  state_WY
0                    0                 0  ...         0         0
1                    0                 0  ...         0         0
2                    0                 0  ...         0         0
3                    0                 0  ...         0         0
4                    0                 0  ...         0         0
...                ...               ...  ...       ...       ...
32017                0                 0  ...         0         0
32018                0                 0  ...         0         0
32019                0                 0  ...         0         0
32020                0                 0  ...         0         0
32021                1                 0  ...         0         0

[32022 rows x 2485 columns]

In [ ]:
#

In [128]:
# Assign the data to X and y

y = yelp['Stars Y']

In [129]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_dummies, y, random_state=42)

In [130]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [131]:
classifier.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [132]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8399816788807462
Testing Data Score: 0.8411191606295279

In [133]:
print(f'Actual:\t\t{list(y_test[:10])}')
print(f'Predicted:\t{list(classifier.predict(X_test[:10]))}')

Actual:		[1, 0, 1, 0, 0, 1, 0, 1, 1, 1]
Predicted:	[1, 1, 1, 1, 1, 1, 0, 1, 1, 1]

In [134]:
from sklearn.metrics import confusion_matrix, classification_report

y_true = y_test
y_pred = classifier.predict(X_test)
confusion_matrix(y_true, y_pred)

array([[  28, 1244],
       [  28, 6706]])

In [135]:
print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

           0       0.50      0.02      0.04      1272
           1       0.84      1.00      0.91      6734

    accuracy                           0.84      8006
   macro avg       0.67      0.51      0.48      8006
weighted avg       0.79      0.84      0.77      8006